:root {
  --mainBlue: #48bbfe;
  --lightBlue: #009ffd;
  --mainWhite: #fffefe;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
html {
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  height: 100%;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.navbar-nav {
  list-style: none;
}

.navbar-nav li {
  display: inline;
}

/* Home page  */

#headSection {
  height: 90vh;
}
.homeSection {
  position: relative;
  height: 70vh;
  overflow: hidden;
  z-index: -1;
}

#rectangle {
  width: 70vw;
  height: 50vh;
  background-image: url(./image/mobile-phone-1875813_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: 1px 1px 3px 0px rgb(175, 175, 175);
  position: absolute;
  top: 40vh;
  left: 15vw;
}

.section__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(#ff9d2f, #ff6126); */
  background-image: url(./image/five-bulb-lights-1036936.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}

h1 {
  margin: 0;
  padding: 100px 0;
  font: 44px 'Arial';
  text-align: center;
}

.homeSection h1 {
  position: relative;
  color: white;
}

/* cards  */

.card {
  border: 1px solid rgb(175, 175, 175);
  box-shadow: 1px 1px 3px 0px rgb(175, 175, 175);
}

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
  min-height: 18rem;
}

.cardImg {
  display: block;
  width: 100%;
  height: 13rem;
}

/* Button and background */
.homebtn {
  display: inline-block;
  background: #52c0fc;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid rgb(255, 253, 253);
  margin: 0.5em 0;
}

.homebtn:hover {
  background: #ff9c2f;
  color: #fff;
}

/* Header Showcase  */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
  margin-top: 10vh;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url(./image/blue-sky-blur-clear-sky-color-281260.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  z-index: -1;
}

#showcase h1 {
  padding-top: 25vh;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
  margin-bottom: 2vh;
}

/* Section C */

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

/* Section D */

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box {
  background-color: #48bbfe;
}

/* Section A */

#section-a {
  background: #ffffff;
  color: #333;
  padding-bottom: 5rem;
  padding-top: 5rem;
  border: 1.2px solid rgb(228, 228, 228);
  box-shadow: 1px 1px 3px 0px rgb(175, 175, 175);
}

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }

  .box {
    grid-column: span 2;
  }
  .aboutHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    position: relative;
    background-image: linear-gradient(#ff9d2f, #ff6126);
  }
  .book {
    display: block;
    margin-block-start: 10rem;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
  }
  .toolbar_logo {
    position: absolute;
    left: 49%;
  }
}

/* About page */
@media (max-width: 699px) {
  .aboutHeader {
    position: relative;
    height: 80rem;
    background-image: linear-gradient(#ff9d2f, #ff6126);
  }

  .aboutSpace {
    height: 8rem;
  }

  .toolbar_logo {
    margin-left: 2rem;
  }
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.aboutHeader p {
  color: white;
}

.book {
  display: block;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
}

/* productLijst */

.row h1 {
  padding: 0px;
  color: #48bbfe;
}

/* Toolbar nav  */

.toolbar {
  position: fixed;
  width: 100%;
  /* background: #48bbfe; */
  height: 56px;
  /* color: transparent; */
  z-index: 1;
}

.toolbar_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar_logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.spacer {
  /* zorgt er voor dat alle ruimte wordt in genomen
  tussen logo en items */
  flex: 1;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #ff6126;
}

/* Hamburger menu drawertogglebutton */

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0.4rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 30px;
  height: 2px;
  background: white;
}

.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 2;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: #48bbfe;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #ff6126;
}

.image {
  background-image: url(./image/multiply.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  height: 15px;
}

/* Products */

.product-head {
  position: relative;
  height: 350px;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.product-title {
  color: #fff;
}

.cart-section {
  background-image: url(./image/background-2398288_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -3rem;
}

.empty-cart {
  margin-top: 5rem;
  color: #fff !important;
}
